body {
    text-align: center;
    font-family: 'Gugi', cursive;
    background: linear-gradient(to right, #0300af, #585858);
}

div {
    border: 2px dashed #1f1bff;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 15px;
    box-shadow: 10px 5px #0000004b;
}

#principal {
    width: 50px;
    float: left;
    border-radius: 50%;
}

div.especial h3 {
    font-family: 'Inconsolata', monospace;
    text-shadow: 5px 3px rgba(0, 0, 0, 0.205);
}